h4 {
  text-align: center;
  color: #606062;
  font-size: 50px;

}

h3 {

  font-size: 32px;
}

h1 {
  color: #51a8b1;
  font-size: 32px;

}

h5 {
  font-size: 25px;
}

.home_logo {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

}

.conexion_card {

  border-radius: 20px;
  height: auto;
  box-shadow: none !important;
  margin-left: 50px;
  width: 75%;
  

}

.factura_container {
  width:auto;
  height: auto;
  display: flex;
  justify-content: center;
  border: solid 2px #51a8b1;
  border-right: none;
  border-radius: 24px;
  margin-top: 10px;

}

.btn_container {
  width:25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #51a8b1;
  border-radius: 0 20px 20px 0;
  color: #ffffff;
  border: solid 3px #51a8b1;
}

.list {
  background-color: transparent;
}

.search_container {
  width: 70%;
  min-height: 60px;
  height: auto;
  border: solid 2px #51a8b1;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-label {
  background-color: transparent !important;
  font-size: 30px !important;
}

ion-select {
  font-size: 30px !important;
}

.conexion_titulo{
  width: auto;
  height: auto;
  padding: 4px;
  margin-left: 4%;
}

