<ion-content class="ion-padding">
  <div class="home_logo"><img src="/assets/imgs/logo.png"></div>
  <h1>Bienvenido a la <br> Autogestión</h1>
  <h4>Elija una opción</h4>
  <div class="home_container">
    <button class="home_btn" style="background-color:#51a8b1;"
      (click)="setFlujoSeleccionado(opcionesFlujos.FLUJO_QR_FACTURA)"><ion-icon style="zoom: 6.0;"
        name="qr-code-outline"></ion-icon><br>
      <p>Obtener factura</p>
    </button>
    <button class="home_btn" style="background-color: #db5a34;"
    (click)="setFlujoSeleccionado(opcionesFlujos.FLUJO_PAGOS)"><ion-icon style="zoom: 6.0;"
      name="card-outline"></ion-icon><br>
    <p>Pagar</p>
  </button>
  <button class="home_btn" style="background-color:#f58634;"
      (click)="setFlujoSeleccionado(opcionesFlujos.FLUJO_RECLAMOS)"><ion-icon style="zoom: 6.0;"
        name="build-outline"></ion-icon><br>
      <p>Reclamos</p>
    </button>
  </div>
</ion-content>
