/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.searchbar-input {
  font-size: 24px !important;
  border: none;
  width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 40px !important;
  height: auto !important;
  min-height: 40px !important;
  border: solid 2px #51a8b1 !important;



}

.searchbar-search-icon {
  color: transparent !important;

}

// .alert-title.sc-ion-alert-md {
//   font-size: 45px;
//   text-align: center;
// }

// .alert-message.sc-ion-alert-md {
//   font-size: 35px;
//   text-align: center;
// }

// .alert.alert-wrapper {
//   --width: 1000px !important;
//   --heigth: 1900px !important;

// }

// .alert-button.sc-ion-alert-md {
//   font-size: 40px;
//   font-weight: bold;
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 50px;

// }
@media(min-height:1919px) {
  .searchbar-input {
    font-size: 40px !important;
    border: none;
    width: 80% !important;
    border-radius: 40px !important;
    height: auto !important;
    min-height: 80px !important;
    border: solid 2px #51a8b1 !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;


  }

  .searchbar-search-icon {
    color: transparent !important;

  }

  .alert-title.sc-ion-alert-md {
    font-size: 45px;
    text-align: center;
  }

  .alert-message.sc-ion-alert-md {
    font-size: 35px;
    text-align: center;
  }

  .alert.alert-wrapper {
    --width: 1000px !important;
    --heigth: 1900px !important;

  }

  .alert-button.sc-ion-alert-md {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

  }
  ion-checkbox {
    width: 160px;
    height: 160px;
  }
}